<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Links App</title>
    {{!-- Google Fonts  --}}
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    {{!-- Bootstrap 4  --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {{!-- Fontawesome  --}}
    <link rel="stylesheet" href="/css/fontawesome.all.css" crossorigin="anonymous" />
    {{!-- Estilos  --}}
    <link rel="stylesheet" href="/css/styles.css" crossorigin="anonymous" />
</head>
<body>
    {{> navigation }}
    {{{ body }}}
</body>
</html>